NVIDIA_API_KEY=nvapi-
ZEROSHOT_TTS_NVIDIA_API_KEY=nvapi-
RIVA_API_KEY=nvapi-
USE_LANGGRAPH=true
LANGGRAPH_BASE_URL=http://127.0.0.1:2024
LANGGRAPH_ASSISTANT=ace-base-agent
USER_EMAIL=test@example.com
LANGGRAPH_STREAM_MODE=values
LANGGRAPH_DEBUG_STREAM=true
