@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root,
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 10pt;
  font-variation-settings: "wdth" 100;
  --bg-secondary: #ececec;
  --secondary-border: #cccccc;
  --secondary-text: #a3a3a3;
  --bot-volume-active-box-shadow-bg: rgba(18, 185, 0, 0.08);
  --active-audio-border-color: #76b900;
  --link-text-color: #76b900;
  --inactive-audio-border-color: #a3a3a3;
  --inactive-audio-text-color: #a3a3a3;
}

a {
  color:var(--link-text-color);
}